.showcase_blog{
    padding: 10px;
    background-color: white;
    width: 100%;
    height: fit-content;
}

.blog{
    width: 60%;
    background-color: #f2f2f3;
    margin:10px 100px;

}

.blog a{
    display: inline-block;
    padding: 10px ;
    width: 100%;
    font-size: 20px;
    margin: 5px 1px;
}

.blog a:hover{
    background-color: #d8d8da;
}

@media screen and (max-width: 992px) {
    .blog{
        width: 80%;
        background-color: #f2f2f3;
        margin:10px auto;
    }

  }